@import '../utils/variables.scss';

#root {
    text-align: center;
    margin:5px auto;
    min-height: 100vh;
    font-family: pokemon;
    background-color: $bug-green;
}

@font-face {
    font-family: "pokemon";
    src: url("../../../src/fonts/Pokemon\ Classic.ttf");
}