$font: url('../../fonts/Pokemon\ Classic.ttf');
// PokemonColors.scss
$electric-yellow: #f9d51c;
$fire-red: #f05030;
$water-blue: #6390f0;
$grass-green: #78c850;
$ice-blue: #98d8d8;
$fighting-orange: #c03028;
$poison-purple: #a040a0;
$ground-brown: #e0c068;
$flying-sky: #a890f0;
$psychic-pink: #f85888;
$bug-green: #a8b820;
$rock-brown: #b8a038;
$ghost-purple: #705898;
$dark-black: #705848;
$steel-steel: #b8b8d0;
$fairy-pink: #ee99ac;